@font-face {
  font-family: font1;
  src: url(fonts/font5.woff2);
}
@font-face {
  font-family: font2;
  src: url(fonts/font4.woff2);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  min-height: 100%;
  background-color: rgb(238, 236, 236);;
}
#page1 {
  overflow: hidden;
  width: auto;
  height: 140vh;
  background-color: white;
  border-radius: 0 0 7em 7em;
}
#page1 #wrap {
  width: 100%;
  height: 100vh;
  background-color: rgb(238, 236, 236);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 7em 7em;
}
#nav{
  font-family: font1;
  width: 100%;
  font-size:small;
  padding-top: 3em;
  padding-left: 5em;
  padding-right: 5em;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
#nav .part1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:row ;
  gap: 1em;
}
.part1 .sbtn{
  display: flex;@font-face {
    font-family: font1;
    src: url(fonts/font4.woff2);
  }
  align-items: center;
  justify-content: center;
  width: 6vw;
  height:3vw;
  border-radius: 5em;
  background-color: white;
}
.part1 a:nth-child(1)
{
  font-family: font2;
}
a{
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
#nav .part2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:row ;
  gap: 0.5em;
}
.part2 a{
  font-family: font2;
}
#profilePic{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: 20vh;
  border-radius: 50%;
  background-color: rgb(100, 73, 73);
}
#profile{
  font-family: font1;
  font-size: 1.7em;
  padding-top: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#profilePic{
  position: relative;
  border: 2px solid white;
  background-image: url(profilepic.jpg);
  background-size: cover;
  background-position-y:70%;
}
#profilePic #name{
  font-family: font2;
  color: rgb(61, 61, 61);
  position: absolute;
  transform: rotateZ(-10deg);
  width: 8vw;
  height: 6vh;
  text-align: center;
  padding-top: 9%;
  border-radius: 5em;
  left: 80%;
  font-size: 0.5em;
  background-color: white;
  animation: upDown 6s infinite ease-in-out;
}
@keyframes upDown{
  0%{top: 20px;}
  50%{top:60px;}
  100%{top:20px;}
}
#heading{
  text-align: center;
  letter-spacing:2px;
  padding-top: 1em;
  padding-bottom: 1.7em;
}
/* master css */

.backgroundIng{
  background:linear-gradient(to right,black,grey);
  -webkit-background-clip: text;
  color: transparent;
}

/* {master css } */


#profile #btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:5em;
  width: 12vw;
  height:8vh;
  color: white;
  background-color: rgb(23, 23, 26);
}
#btn p{
  font-size: 0.5em;
  font-family: font2;
}
#btn i{
  font-size: 0.7em;
  font-family: font2;
  padding-left: 0.4em;
}

#motion-container{
  width: auto;
  white-space: nowrap;
}

.motion
{ 
  white-space: nowrap;
  margin-top: 15vh;
  gap: 6em;
  width:400%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: motions 70s linear infinite;
}
@keyframes motions {
  0%{transform: translateX(0);}
  100%{transform: translateX(-100%);}
}

.motion img{
  width: 10vw;
  height: auto;
}
.motion:hover{
  animation-play-state: paused;
  transition: 0.25s ease-in-out;
}
/* page2 */

#page2{
  width: 100%;
  height: 80vh;
  font-family: font1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#page2 p{
  text-align: center;
  font-size: 3em;
  color: rgb(255, 254, 254);
}
#ppart1 h1{
  text-align: center;
  font-size: 2.3em;
  padding: 1.5em;
}
#ppart2{
  border-top: 1px dotted rgb(132, 132, 132);
  display: flex;
  align-items: center;
  justify-content: center;
}
#ppart2 p {
  margin-top: -1.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateZ(-10deg);
  width: 8vw;
  height: 6vh;
  font-size:0.9em;
  background-color: rgb(255, 253, 253);
  border-radius: 5em;
  color: black;
}
#page3{
  width: 100%;
  height: 80vh;
  background-color: rgb(255, 254, 254);
  border-radius: 7em 7em 0 0 ;
}


